//== Typosaurus
//
// Import this file before any variables are set. The !default property sass/compass provides
// enables pre-compile-overwrites. When porting to less, insert these variables after your
// main variables.
//
// Variable format should follow the `$component-modifier-state-property` order.
// ------------------------------------------

//== Options
//
// Quickly modify global styling by enabling or disabling optional features.
// ------------------------------------------

// `$enable-typosaurus` overrides all settings below
$enable-typosaurus:	    true !default;  	//** default: [===[true]]

$enable-grid:		        true !default;  	//** default: [===[true]]
$enable-spacing:	      true !default;  	//** default: [===[true]]
$enable-rounded:	      true !default;  	//** default: [===[true]]
$enable-typography:	    true !default;  	//** default: [===[true]]

//== Variables
//
// Available formulas:
// 'minor-first':           4:3 - Minor first
// 'major-first':           8:7 - Major first
// 'minor-second':          15:16 - Minor second
// 'major-second':          8:9 - Major second
// 'minor-third':           5:6 - Minor third
// 'major-third':           4:5 - Major third
// 'perfect-fourth':        3:4 - Perfect fourth
// 'aug-fourth-dim-fifth':  1:√2 - Augmented fourth / diminished fifth
// 'perfect-fifth':         2:3 - Perfect fifth
// 'minor-sixth':           5:8 - Minor sixth
// 'golden-section':        1:1.618 - Golden Section
// 'major-sixth':           3:5 Major sixth
// 'minor-seventh':         9:16 - Minor Seventh
// 'major-seventh':         8:15 - Major seventh
// 'octave':                1:2 - Octave
// 'major-tenth':           2:5 - Major tenth
// 'major-eleventh':        3:8 - Major eleventh
// 'major-twelfth':         1:3 - Major twelfth
// 'double-octave':         1:4 - Double octave
//
// Quickly modify global variables by edit the following features.
// ------------------------------------------

@if $enable-typosaurus == true {
  $font-size-root:    16px !default; //** default: 16px
  $font-size-base:    1rem !default; //** ~ $font-size-root

  $line-height-base:  map-get($factors, 'perfect-fifth') !default;          //** 1.500 - Perfect fifth
  $line-height-lg:    map-get($factors, 'factor-golden-section') !default;  //** 1.618 - Golden Section
  $line-height-sm:    map-get($factors, 'factor-major-second') !default;    //** 1.125 - Major second

  $scale-factor:      map-get($factors, 'factor-aug-fourth-dim-fifth') !default;  //** 1.414 - Augmented fourth / diminished fifth
  $scale-factor-lg:   map-get($factors, 'factor-golden-section') !default;        //** 1.618 - Golden Section
  $scale-factor-md:   map-get($factors, 'factor-major-second') !default;          //** 1.125 - Major second
  $scale-factor-sm:   map-get($factors, 'factor-major-first') !default;           //** 0.875 - Major first
  $scale-factor-xs:   map-get($factors, 'factor-minor-first') !default;           //** 0.750 - Minor first
}

//== Border radius
//
// Allows for customizing border radius independently from global border radius
// ------------------------------------------

@if $enable-typosaurus == true and $enable-rounded == true {
  $border-radius:     get-spacer('1/3') !default;
  $border-radius-lg:  get-spacer('1/2') !default;
  $border-radius-sm:  get-spacer('1/4') !default;
}