//== Typography
//
// Font, line-height, and color for body text, headings, and more.
// Variables added by Typosaurus are marked with `//=[New variable]`
//=======================================================================

//== Table of Contents
//
// Font sizes
// Lists
// Tables
// Buttons
// Forms
// Navs
// Pagination
// Jumbotron
// Cards
// Modals
// Alerts
// Image thumbnails
// Breadcrumbs
// Miscellaneous
//
//=======================================================================

//== Font sizes
//
// Define common font, padding and margin sizes for default typography,
// headings and displays.
//=======================================================================

// `$font-size-root` is set in _variables.scss
// `$font-size-base` is set in _variables.scss

// Scaled font sizes
$font-size-lg:		calculate-factored($font-size-base, $scale-factor) !default;
$font-size-sm:		calculate-factored($font-size-base, $scale-factor-sm) !default;
$font-size-xs:		calculate-factored($font-size-base, $scale-factor-xs) !default;

// Lead font size
$lead-font-size:	calculate-factored($font-size-base, $scale-factor-md) !default;

// Heading font sizes
$font-size-h1:		calculate-factored($font-size-h2, $scale-factor) !default;
$font-size-h2:		calculate-factored($font-size-h3, $scale-factor) !default;
$font-size-h3:		calculate-factored($font-size-h4, $scale-factor) !default;
$font-size-h4:		$font-size-base !default;
$font-size-h5:		$font-size-base !default;
$font-size-h6:		$font-size-base !default;

// Display font sizes
$display1-size:		calculate-factored($display2-size, $scale-factor-lg) !default;
$display2-size:		calculate-factored($display3-size, $scale-factor-lg) !default;
$display3-size:		calculate-factored($display4-size, $scale-factor-lg) !default;
$display4-size:		calculate-factored($font-size-base, $scale-factor-lg) !default;

// Line height
$line-height:			 $line-height-base !default;
// `$line-height-lg` is set in _variables.scss
// `$line-height-sm` is set in _variables.scss

// Heading
// Bootstrap default variable `$headings-margin-bottom` is not sufficient enough.
// This will only be used for `h3+4+5+6`. For `h1+2` we use the `get-spacer` for calculating them.
// Also add the font-sizes to the map for looping through them later on.
$headings-line-height:			    $line-height-sm !default;
$headings-margin-bottom:		    0 !default;
$headings: (
    h1: (
        margin-bottom: get-spacer-y(1),
        margin-top: get-spacer-y(2)
    ),
    h2: (
        margin-bottom: get-spacer-y(2),
        margin-top: get-spacer-y(2)
    ),
    h3: (
        margin-bottom: $headings-margin-bottom,
        margin-top: get-spacer-y(2)
    ),
    h4: (
        margin-bottom: $headings-margin-bottom,
        margin-top: $line-height
    ),
    h5: (
        margin-bottom: $headings-margin-bottom,
        margin-top: $line-height
    ),
    h6: (
        margin-bottom: $headings-margin-bottom,
        margin-top: $line-height
    )
) !default;  //=[New variable]

//== Lists
//=======================================================================

$list-indent:			          get-spacer-y(3) !default;      //=[New variable]
$list-inline-padding:			  0 !default;
$list-item-margin:			    get-spacer-x('1/3') !default;  //=[New variable]
$list-margin-bottom:			  get-spacer-y(2) !default;      //=[New variable]
$list-margin-top:			      0 !default;                    //=[New variable]

//== Paragraph
//=======================================================================

$paragraph-font-size:         $font-size-base !default; //=[New variable]
$paragraph-line-height:       $line-height !default;    //=[New variable]
$paragraph-margin-bottom:     get-spacer-y(2) !default; //=[New variable]
$paragraph-margin-top:        0 !default;               //=[New variable]

$paragraph-font-size-lg:      $font-size-lg !default;   //=[New variable]
$paragraph-line-height-lg:    $line-height-lg !default; //=[New variable]
$paragraph-margin-bottom-lg:  get-spacer-y(3) !default; //=[New variable]
$paragraph-margin-top-lg:     0 !default;               //=[New variable]

$paragraph-font-size-sm:      $font-size-sm !default;   //=[New variable]
$paragraph-line-height-sm:    $line-height-sm !default; //=[New variable]
$paragraph-margin-bottom-sm:  get-spacer-y(1) !default; //=[New variable]
$paragraph-margin-top-sm:     0 !default;               //=[New variable]

//== Lists
//=======================================================================

$list-line-height:			      $line-height-sm !default;  //=[New variable]
// Blockquote
$blockquote-font-size:			  $lead-font-size !default;
// Carousel
$carousel-control-font-size:	$lead-font-size !default;